:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "poppins", "sans-serif";
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  font-family: inherit;
  border-radius: 50px;
  border: 1px solid var(--primary-color);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie img {
  width: 100%;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.movie-info {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.25rem;
  border-radius: 6px;
  font-weight: bold;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  transform: translatey(101%);
  height: 0;
  transition: transform 0.4s ease-in;
}

.movie:hover .overview {
  height: fit-content;
  padding: 1rem;
  transform: translateY(0%);
}
